doctype html
html(ng-app='app', ng-controller='IndexCtrl as index')
  head
    link(rel='stylesheet', href='bower/angular-material/angular-material.css')
    script(src='bower/angular/angular.js')
    script(src='bower/angular-aria/angular-aria.js')
    script(src='bower/angular-animate/angular-animate.js')
    script(src='bower/angular-material/angular-material.js')
    script(src='index.js')

body
  | {{index.foo}}
  md-button hello
